<div class="container">
    <div class="row">
        <div class="col">
            <label>Titulo Persona</label>
            <input type="text" class="form-control" (input)="onModificarPersona($event)">
            <samp> {{tituloPersona}}</samp>
            <p>------------------------</p>
            <label>Titulo Persona con TWO WAY BINDING</label>
            <input type="text" class="form-control" [(ngModel)]="titulo">
             {{titulo}}

            <h1>Listado de Personas </h1>
            <button type="button" class="btn btn-primary btn-lg"
            [disabled]="!agregarPersona"
            (click)="onCrearPersona()">Agregar Personas</button>
            
            <p *ngIf="personaCreada; else sinPersona">{{agregarPersonaStatus}} con titulo de {{titulo}}</p>
            <ng-template #sinPersona>
                <p>No se ha agregado ninguna persona</p>
            </ng-template>
            


            <app-persona></app-persona>
        </div>
    </div>
</div>